@{
    ViewBag.Title = "About";
}
<div class="container rounded" style="margin-bottom:10px;">
    <div class="row" style="background-color: #1b2e48; ">
        <div class="col-sm-12" style="color:white;">
            <h2>Abount HedgeFundMe.com</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p>
                This site is <strong>NOT</strong> a giant data dump of the market.
                This site is also <strong> NOT </strong>aimed at getting you to click through pages and pages of unhelpful market content.
                HedgeFundMe lets you select momentum stocks that are moving in the market.
                The tools available allow you to narrow down the universe of stocks to only those that have been solidly moving up.
            </p>
            <p>
                Our proprietary system sifts through over 300 stocks to find only the top stocks in the market.
                After the top stocks are filtered, a further refinement is made to highlight the best choices for long positions the next trading session.
            </p>
        </div>
    </div>
    </div>
<div class="container rounded" style="margin-bottom:10px;">
    <div class="row" style="background-color: #1b2e48; ">
        <div class="col-sm-12" style="color:white;">
            <h2>HedgeFundMe.com Disclaimer Notice and Terms Of Service</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <h3>About Using This Website</h3>

            By using or accessing this website you are accepting all the terms of this disclaimer notice.  If you do not agree with anything in this notice you should not use or access this website.


            <h3>Warranties and Liability</h3>

            While every effort is made to ensure that the content of this website is accurate, the website is provided on an “as is” basis and HedgeFundMe.com makes no representations or warranties in relation to the accuracy or completeness of the information found on it.  While the content of this site is provided in good faith, we do not warrant that the information will be kept up to date, be true, accurate and not misleading, or that this site will always (or forever) be available for use.

            We do not warrant that the servers that make this website available will be error, virus or bug free and you accept that it is your responsibility to make adequate provision for protection against such threats.  We recommend scanning any files before downloading.

            Nothing on this website should be taken to constitute professional advice or a formal recommendation and HedgeFundMe.com hereby excludes all representations and warranties whatsoever (whether implied by law or otherwise) relating to the content and use of this site.

            In no event will HedgeFundMe.com be liable for any incidental, indirect, consequential, punitive or special damages of any kind, or any other damages whatsoever, including, without limitation, those resulting from loss of profit, loss of contracts, loss of reputation, goodwill, data, information, income, anticipated savings or business relationships, whether or not HedgeFundMe.com has been advised of the possibility of such damage, arising out of or in connection with the use of this website or any linked websites.




            <h3>Exceptions </h3>

            Nothing in this disclaimer notice shall serve to limit or exclude any liability for death or personal injury arising from HedgeFundMe.com’s negligence, or for fraud, or for anything else which it would not be lawful for HedgeFundMe.com to exclude.


            <h3> Use of this Website</h3>

            By using this website you agree to the exclusions and limitations of liability stated above and accept them as reasonable.  Do not use this website if you do not agree that they are reasonable.

            If any of the content of this disclaimer notice is found to be illegal, invalid or unenforceable under the applicable law, that will have no bearing on the enforceability of the rest of the disclaimer notice and the illegal, invalid or unenforceable part shall be amended to the minimum extent necessary to make it legal, valid and enforceable.

            All material on this website, including text and images, is protected by copyright law and such copyright is owned by HedgeFundMe.com unless credited otherwise. It may not be copied, reproduced, republished, downloaded, posted, distributed, broadcast or transmitted in any way without the copyright owner’s consent, except for your own personal, non-commercial use.

            Prior written consent of the copyright owner must be obtained for any other use of material.

            No part of this site may be distributed or copied for any commercial purpose or financial gain.

            All intellectual property rights in relation to this website are reserved and owned by HedgeFundMe.com.


            <h3>Links to Other websites and Products </h3>

            Links to other websites are provided for the convenience of users only and HedgeFundMe.com accepts no liability or responsibility for their content.  We are unable to provide any warranty regarding the accuracy or completeness or legitimacy of the content of such sites, or the reliability, quality or effectiveness of any products provided through external websites.  A link to an external site does not imply an endorsement of the views, information or products provided or held by such websites.


            <h3>Law and Jurisdiction</h3>

            This disclaimer notice shall be interpreted and governed by law, and any disputes in relation to it are subject to the jurisdiction of the courts in the United States.


            <h3>Variations</h3>

            We reserve the right to revise and amend this disclaimer notice from time to time and any revised version will be deemed to be applicable from the first date of publication on this website.


            <h3>About Us</h3>

            This website is owned by Reboot Incorporated.
        </div>
    </div>
</div>
