@{
    ViewBag.Title = "ContactReceived";
}

<div class="container rounded" style="margin-bottom:10px;">
    <div class="row">
        <div class="col-sm-12">
            <h2>Thank You</h2>
        <p>
            We have received your request and it will be addressed shortly.
        </p>
           
            </div>
        </div>
    </div>
