@{
    ViewBag.Title = "Mock Trades";
}

<div class="container rounded" style="margin-bottom:10px;">
    <div class="row " style="background-color: #1b2e48; border-bottom: 1px solid #5C87B2;">
        <div class="col-sm-12" style="color:white">
            <img class="pull-left smallimg" title="Mock Trades" alt="Mock Trades" src="@Url.Content("~/images/tools.png")" />
            <h4>Mock Trades</h4>

        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <p>@Html.Raw(ViewBag.Result)</p>

        </div>
    </div>
    <div class="row">

        <div class="col-md-12">
            <ul>
                <li>@Html.ActionLink("Back to Data Admin", "Index", "Database") </li>
            
              
            </ul>
        </div>

    </div>



</div>
