@model HedgefundMe.com.Models.ITopStock
@using HedgefundMe.com;
<a href="http://finance.yahoo.com/mb/@Model.Ticker">Message Boards</a> |
<a href="http://stockcharts.com/freecharts/gallery.html?s=@Model.Ticker">Stockcharts.com</a> |
<a href="http://finance.yahoo.com/q/ta?s=@Model.Ticker@FinanceHelper.Indicators3m">More...</a>