@{
    ViewBag.Title = "Change Password";
}
<div class="container rounded" >
    <div class="row" style="background-color: #1b2e48; ">
        <div class="col-sm-12" style="color:white;">
            <h2>Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <p>
                Your password has been changed successfully.
            </p>
        </div>
    </div>
</div>
@{Html.RenderPartial("_NavBar");}